@model Product

<h1>Thong Tin San pham</h1>

@if(Model == null) {
    <div class="alert alert-danger">
        The product is not found!
    </div>
} else {
    <div class="card">
        <div class="card-body">
            <p>Product Name: <strong>@Model.Name</strong></p>
            <p>@Model.Price</p>
        </div>
    </div>
}